*,
*::before,
*::after {
box-sizing: border-box;
}
/* Colors */
$lightningyellow: #FDA538;
$light-apricot: #FBD5B5;
$sadiebrown: #5E3A07;
$bone: #DAC6A9;
$raffia: #DBCDA8;
$offyellow: #FBF3DC;

$primary-color: $lightningyellow;
$primary-accent-color: $light-apricot;
$secondary-color: $sadiebrown;
$secondary-accent-color: $bone;
$secondary-accent-color2: $raffia;
$third-accent-color: $offyellow;


/* Fonts */


$primary-font: 'Forum';
$secondary-font: 'Open+Sans+Condensed:300';

h1,
h2,
h3,
h4,
footer {
  font-family: $primary-font, serif;
}

a,
ul,
li,
p {
  font-family: sans-serif;
  line-height: 150%
}

a {
  text-decoration: none !important;
}



/* Guts */

body {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.orange-container {
  /* background-color: $primary-accent-color; */
  background-image: url('/assets/images/orange_background.jpg');
  background-position: center;
  background-size: cover;
}

.orange-container2 {
  background-color: $secondary-accent-color;
  /* background-image: url('/assets/images/orange_background.jpg'); */
  /* background-position: center; */
  /* background-size: cover; */
}

.photo1-container {
  /* background-color: $primary-accent-color; */
  background-image: url('/assets/images/section_photo_1.jpg');
  background-position: center;
  background-size: cover;
  height: 350px;
  /* background: $primary-color; */
  /* opacity: .2; */
  vertical-align: middle;
  display: block;
}

.photo2-container {
  /* background-color: $primary-accent-color; */
  background-image: url('/assets/images/section_photo_2.jpg');
  background-position: center;
  background-size: cover;
  height: 350px;
}

.photo3-container {
  /* background-color: $primary-accent-color; */
  background-image: url('/assets/images/section_photo_3.jpg');
  background-position: center;
  background-size: cover;
  height: 350px;
}

.container {
  text-align: -webkit-center;
}

header {
  background-color: $primary-color;
  background-image: src('/assets/images/font-jam_header.png');
  height: 445px;
  text-align: center;
}

.menu{
  background-color: $secondary-color;
  display: inline-block;
  color: white;
  text-align: center;
  margin-top: -10px;
  height: 50px;
  width: 100%;
  font-family: $primary-font, serif;
  z-index: 100;

  li {
    display: inline-block;
    padding: 0 30px;
  }

  a {
    text-decoration: none !important;
    color: white;
  }
}


ul {
  padding: 0;
  list-style-type: none;
}

#intro {
  height: 450px;
  width: 1000px;
  text-align: center;
  vertical-align: middle;
}

.intro_text {
  position: relative;
  margin: 80px 0;
  float: left;
  padding: 50px;
  text-align: center;
  width: 50%;
  h3{
  text-align: justify;
  text-justify: inter-word;
  }
}

.intro_image {
  position: relative;
  margin: 40px 0;
  display: inline-block;
  padding: 50px;
  text-align: center;
  width: 49%;
  }

#sections{
  width: 1000px;
  display: block;
  /* position: absolute; */
  margin: 50px 0 0 0;
  padding: 50px;
  text-align: center;
  clear: left;
  /* height: 300px; */

  /* p{
    text-align: justify;
    text-justify: inter-word;
  } */
}

.sections_fontsearch {
  display: inline-block;
  float: left;
  padding: 30px;
  width: 300px;
  a {
    text-decoration: none !important;
    color: white;
  }
}

.sections_chatroom {
  display: inline-block;
  float: left;
  padding: 30px;
  width: 300px;
  a {
    text-decoration: none !important;
    color: white;
  }
}

.sections_contact {
  display: inline-block;
  display: inline-block;
  padding: 30px;
  width: 300px;
  a {
    text-decoration: none !important;
    color: white;
  }
}

#search {
  position: relative;
  margin: 50px 0;
  /* padding: 50px; */
  width: 1000px;
  height: 500px;
}

.search_left {
  float: left;
  width: 45%;
  text-align: right;
  /* margin: 20px 0; */
  padding: 10px;
}

.search_right {
  display: inline-block;
  width: 40%;
  /* margin: 10px; */
  padding: 10px 0;
  border-radius: 15px;
  border: 1px black solid;
  background-color: #48463c;
  color: $primary-color;
  padding: 0 0 20px 30px;
  max-height: 480px;
  overflow-x: hidden;
  text-align: left;
}

.findfont {
  text-align: right;
  color: $secondary-accent-color;
  display: inline-block;
}

.results {
  color: white;
  text-align: left;
  }
  a {
    /* font-style: italic; */
    text-align: right;
    color: #897968;
  }

.results h2 {
  display: inline-block;
  width: 250px;
}

.login, #contact {
  /* display: block; */
  position: relative;
  /* margin-bottom: 50px; */
  width: 1000px;
  padding: 50px;
  text-align: center;
  clear: left;
}

.login-form {
  margin-bottom: 25px;
}

.chat {
  width: 700px;
  li {
    border: 1px $primary-color solid;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    text-align: left;
  }

  p{
  text-align: justify;
  text-justify: inter-word;
  }
}

footer {
  background-color: $primary-color;
  text-align: center;
  /* height: 50px; */
  padding: 10px 10px 10px 50px;
  margin: 0;
  text-align: left;
  font-size: 10px;
}

button {
  margin: 0 20px;
  padding: 5px 10px;
  border-radius: 2px;
  background-color: $primary-color;
  color: white;
  border: 1px solid $secondary-color;
  font-size: 75%;
  /* letter-spacing: 3px; */
  text-decoration: none !important;
  color: white;
  list-style-type: none;
  text-transform: uppercase;
  /* font-family: $primary-font, serif; */
}

button.button-comment-save,
button.button-comment-edit,
button.button-comment-delete{
  /* margin: 0 20px; */
  /* padding: 10px 20px; */
  /* border-radius: 5px; */
  /* background-color: $primary-color; */
  color: black;
  /* border: 2px solid $secondary-color; */
  font-size: 55%;
  /* letter-spacing: 3px; */
  text-decoration: none !important;
  color: white;
  list-style-type: none;
}

input, textarea {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: white;
  border: 2px solid $secondary-color;
}

#mega-octicon1,
#mega-octicon2,
#mega-octicon3, {
  font-size: 100px;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  background-color: $secondary-color;
  color: white;
  line-height: 150px;
  display: inline-block;
  /* border: 5px solid $secondary-color; */
}

fieldset {
  border: 0;
}

br {
  line-height: 50px;
}
