*,
*::before,
*::after {
box-sizing: border-box;
}
/* Colors */
$lightningyellow: #FDA538;
$light-apricot: #FBD5B5;
$sadiebrown: #5E3A07;
$bone: #DAC6A9;
$raffia: #DBCDA8;
$offyellow: #FBF3DC;

$primary-color: $lightningyellow;
$primary-accent-color: $light-apricot;
$secondary-color: $sadiebrown;
$secondary-accent-color: $bone;
$secondary-accent-color2: $raffia;
$third-accent-color: $offyellow;


/* Fonts */


$primary-font: 'Oswald:700';
$secondary-font: 'Roboto+Condensed';

h1,
h2,
h3,
h4,
button,
footer {
  font-family: $primary-font, sans-serif;
}


ul,
li,
p {
  font-family: $secondary-font, sans-serif;
  line-height: 200%
}



/* Guts */

body {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.orange-container {
  /* background-color: $primary-accent-color; */
  background-image: url('/assets/images/orange_background.jpg');
  background-position: center;
  background-size: cover;
}

.container {
  text-align: -webkit-center;
}

header {
  background-color: $primary-color;
  background-image: src('/assets/images/font-jam_header.jpg');
  height: 445px;
  text-align: center;
}

.menu{
  background-color: $secondary-color;
  display: inline-block;
  color: white;
  text-align: center;
  margin-top: -10px;
  height: 60px;
  width: 100%;

  li {
    display: inline-block;
    padding: 0 30px;
  }

  a {
    text-decoration: none;
    color: white;
  }
}

ul {
  padding: 0;
  list-style-type: none;
}

.intro {
  height: 450px;
  width: 1000px;
  text-align: center;
  vertical-align: middle;
  }

.intro_text {
  position: relative;
  margin: 50px 0;
  float: left;
  padding: 50px;
  text-align: center;
  width: 51%;
  }

.intro_image {
  position: relative;
  margin: 40px 0;
  display: inline-block;
  padding: 50px;
  text-align: center;
  width: 49%;
  }

  .sections{
  width: 1000px;
  display: block;
  /* position: absolute; */
  margin: 50px 0;
  padding: 50px;
  text-align: center;
  clear: left;
  /* height: 300px; */

  p{
    text-align: justify;
    text-justify: inter-word;
  }
}

.sections_fontsearch {
  display: inline-block;
  float: left;
  padding: 30px;
  width: 300px;
}

.sections_chatroom {
  display: inline-block;
  float: left;
  padding: 30px;
  width: 300px;
}

.sections_contact {
  display: inline-block;
  display: inline-block;
  padding: 30px;
  width: 300px;
}

.mega-octicon {
  font-size: 100px;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  background-color: $secondary-color;
  color: white;
  line-height: 150px;
  /* border: 5px solid $secondary-color; */
}

.search {
  position: relative;
  margin: 50px 0;
  /* padding: 50px; */
  width: 1000px;
  /* height: 350px; */
}

.search_left {
  float: left;
  width: 75%;
  /* margin: 20px 0; */
  padding: 10px;
}

.search_right {
  display: inline-block;
  width: 25%;
  /* margin: 10px; */
  padding: 10px 0px;
  border-radius: 15px;
  background-color: $secondary-color;
  color: white;
  padding: 10px;
}

.login, .contact {
  /* display: block; */
  position: relative;
  margin-top: 50px;
  width: 1000px;
  padding: 50px;
  text-align: center;
  clear: left;
}

footer {
  background-color: $primary-color;
  text-align: center;
  /* height: 50px; */
  padding: 10px 10px 10px 50px;
  margin: 0;
  text-align: left;
  font-size: 10px;
}

button {
  margin: 0 20px;
  padding: 10px 20px;
  border-radius: 15px;
  background-color: $primary-color;
  color: white;
  border: 2px solid $secondary-color;
  font-size: 75%;
  letter-spacing: 3px;
}

input, textarea {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: white;
  border: 2px solid $secondary-color;
}
