<ul class="results">
{{#each result in model}}
<li class="result">
  <h2>{{result.family_name}}{{result.classification}}</h2><a rel="stylesheet" target="_blank" {{bind-attr href=result.url}}>Find Font</a>

</li>
{{/each}}
</ul>
